<!DOCTYPE html>
<html>
	<head>
		<title>Server running successfully</title>
	</head>
	<body>
    <p style='text-align: center;'>Server running successfully</p>
    <img src='/assets/images/1585623361463_54802.jpg'/>
  </body>
</html>
